table {
    width: 90%;
    margin: 0 auto;
    border-spacing: 0;
}

tr:nth-of-type(even) {
    background-color: #F2F2F2;
}

tr:nth-of-type(even).active {
    background-color: #E6F6FC;
}

tr:nth-of-type(odd) {
    background-color: #FFF;
}

tr:nth-of-type(odd).active {
    background-color: #F2FAFD;
}

thead td {
    font-weight: bold;
    background-color: #E9F1EF;
}

tr {
    height: 25px;
}